.titleLabelStyle{
	-fx-background-color : #173F5F;
	-fx-font-size: 27.0px;
	-fx-text-fill : #ffffff;
}
.titleLabelStyleMin{
	-fx-background-color : #20639B;
	-fx-font-size: 20.0px;
	-fx-text-fill : #ffffff;
}
.buttons{
	-fx-background-color : #20639B;
	-fx-border-radius : 5.0, 5.0, 5.0, 5.0;
	-fx-font-size: 14.0px;
	-fx-text-fill : #ffffff;
}

.box{
	-fx-border-width : 0.1em;
	-fx-border-color : #FF0000;
}
.btn-primary{
	-fx-background-color :#20639B;
	-fx-border-radius : 5.0, 5.0, 5.0, 5.0;
	-fx-font-size: 15.0px;
	-fx-text-fill : #ffffff;
}
.cell{
	-fx-cell-size : 40px;
	-fx-font-size : 14px;
	-fx-border-width : 0.009em;
	-fx-alignement : CENTER-CENTER;
	-fx-border-color : #20639B;
}